<div>
    <h2 id="page-heading">
        <span jhiTranslate="softricApp.employe.home.title">Employes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employe" [routerLink]="['/employe/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="softricApp.employe.home.createLabel">
            Create a new Employe
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="employes?.length === 0">
        <span jhiTranslate="softricApp.employe.home.notFound">No employes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="employes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="softricApp.employe.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom"><span jhiTranslate="softricApp.employe.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="softricApp.employe.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numCni"><span jhiTranslate="softricApp.employe.numCni">Num Cni</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.id"><span jhiTranslate="softricApp.employe.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="agence.id"><span jhiTranslate="softricApp.employe.agence">Agence</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="poste.id"><span jhiTranslate="softricApp.employe.poste">Poste</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employe of employes ;trackBy: trackId">
                    <td><a [routerLink]="['/employe', employe.id, 'view']">{{ employe.id }}</a></td>
                    <td>{{ employe.nom }}</td>
                    <td>{{ employe.prenom }}</td>
                    <td>{{ employe.telephone }}</td>
                    <td>{{ employe.numCni }}</td>
                    <td>
                        {{ employe.user?.id }}
                    </td>
                    <td>
                        <div *ngIf="employe.agence">
                            <a [routerLink]="['/agence', employe.agence?.id, 'view']" >{{ employe.agence?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="employe.poste">
                            <a [routerLink]="['/poste', employe.poste?.id, 'view']" >{{ employe.poste?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/employe', employe.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/employe', employe.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(employe)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="employes?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
